In [ ]:
I decided to work with the Kaggle Election Finanace data set available at the following link: https://www.kaggle.com/danerbland/electionfinance
In this data set I wanted to explore three questions.
(1) Was there a positive correlation between money spent and election outcome?
(2) How did the strength of the effect differ for encumbents vs challengers?
(3) Was this effect stronger for Republicans or Democrats?

In [5]:
import matplotlib.pyplot as plt
%matplotlib inline 
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('/Users/brandonlewis/Desktop/Data Science with Thinkful/CandidateSummaryAction1.csv')
Candidate_Data = pd.DataFrame(df)
print(Candidate_Data)

         can_id                       can_nam can_off can_off_sta  \
0     H2GA12121              ALLEN, RICHARD W       H          GA
1     H6PA02171                 EVANS, DWIGHT       H          PA
2     H6FL04105              RUTHERFORD, JOHN       H          FL
3     H4MT01041                 ZINKE, RYAN K       H          MT
4     H8CA09060                  LEE, BARBARA       H          CA
5     H6NC04037               PRICE, DAVID E.       H          NC
6     H2WI02124                   POCAN, MARK       H          WI
7     H2MA09072                LYNCH, STEPHEN       H          MA
8     H6OR02116         WALDEN, GREGORY P MR.       H          OR
9     H2MA04073         KENNEDY, JOSEPH P III       H          MA
10    H8WI09050   SENSENBRENNER, F. JAMES JR.       H          WI
11    H0FL08208               WEBSTER, DANIEL       H          FL
12    H8ME01120            PINGREE, CHELLIE M       H          ME
13    H6FL01119                   GAETZ, MATT       H          FL
14    H6FL09070              BILIRAKIS, GUS M       H          FL
15    H4PA18131                   DOYLE, MIKE       H          PA
16    H8CO02137                  POLIS, JARED       H          CO
17    H6MN05183        ELLISON, KEITH MAURICE       H          MN
18    H8MO09153         LUETKEMEYER, W BLAINE       H          MO
19    H6IL18088           LAHOOD, DARIN MCKAY       H          IL
20    H8FL15107                   POSEY, BILL       H          FL
21    H4VA08224    BEYER, DONALD STERNOFF JR.       H          VA
22    H2MI14111      LAWRENCE, BRENDA LULENAR       H          MI
23    H0OH12062            TIBERI, PATRICK J.       H          OH
24    H0LA01087            SCALISE, STEVE MR.       H          LA
25    H6GA05217                LEWIS, JOHN R.       H          GA
26    H4CO04090               BUCK, KENNETH R       H          CO
27    H4AL06098                  PALMER, GARY       H          AL
28    H8OH05036       LATTA, ROBERT EDWARD MR       H          OH
29    H6FL19087               ROONEY, FRANCIS       H          FL
...         ...                           ...     ...         ...
1784  H6MS01180          MILLS, MICHAEL P. JR       H          MS
1785  H6MS01172            PIRKLE, GREGORY D.       H          MS
1786  H6CA46124            SANCHEZ, HEBERTO M       H          CA
1787  P60013968                     STEF, MEL       P          US
1788  P60007143        ZUTLER, DANIEL PAUL MR       P          US
1789  P60002458           JEWELL, ROGER HENRY       P          US
1790  P60006731        MILLER, RAYMOND MELVIN       P          US
1791  P60008364          VEGA, ISAAC ADAM MR.       P          US
1792  P00004275               BROWN, HARLEY D       P          US
1793  H6NY11182                   LANE, JAMES       H          NY
1794  H6MS01164                COLLINS, NANCY       H          MS
1795  S6CA00618            ALBERTSON, STEWART       S          CA
1796  P60008125           CORNELL, PHILIP MR.       P          US
1797  P60007903      CULLISON, BROOKS ANDREWS       P          US
1798  P20002838           HILL, CHRISTOPHER V       P          US
1799  P60004900                JEROBOAN, KINS       P          US
1800  H6MS01198      JONES, ROGER STARNER DR.       H          MS
1801  P60005808             KAHN, LYNN SANDRA       P          US
1802  P60005733                 SHO, MUHAMMAD       P          US
1803  P20003158            STAINFIELD, TAMI L       P          US
1804  P60006814               LYNCH, DENNIS M       P          US
1805  P60006954         LYNCH, DENNIS MICHAEL       P          US
1806  P20003141          FERGUSON, JOHN GREEN       P          US
1807  P60005907      FLEMING-HODGE, LORI LYNN       P          US
1808  P60005535          EMRIT, RONALD SATISH       P          US
1809  P60005931   BUTTOCKS, SYDNEYS VOLUPTOUS       P          US
1810  S6CA00568                MOLNAR, ROBERT       S          CA
1811  S6MD03524               HOLMES, GREGORY       S          MD
1812  H6AS00031  HUNKIN-FINAU, VAITINASA SALU       H          AS
1813  H6AK00235               LINDBECK, STEVE       H          AK

      can_off_dis can_par_aff can_inc_cha_ope_sea  \
0            12.0         REP           INCUMBENT
1             2.0         DEM          CHALLENGER
2             4.0         REP                OPEN
3             0.0         REP           INCUMBENT
4            13.0         DEM           INCUMBENT
5             4.0         DEM           INCUMBENT
6             2.0         DEM           INCUMBENT
7             8.0         DEM           INCUMBENT
8             2.0         REP           INCUMBENT
9             4.0         DEM           INCUMBENT
10            5.0         REP           INCUMBENT
11           11.0         REP           INCUMBENT
12            1.0         DEM           INCUMBENT
13            1.0         REP                OPEN
14           12.0         REP           INCUMBENT
15           14.0         DEM           INCUMBENT
16            2.0         DEM           INCUMBENT
17            5.0         DEM           INCUMBENT
18            3.0         REP           INCUMBENT
19           18.0         REP           INCUMBENT
20            8.0         REP           INCUMBENT
21            8.0         DEM           INCUMBENT
22           14.0         DEM           INCUMBENT
23           12.0         REP           INCUMBENT
24            1.0         REP           INCUMBENT
25            5.0         DEM           INCUMBENT
26            4.0         REP           INCUMBENT
27            6.0         REP           INCUMBENT
28            5.0         REP           INCUMBENT
29           19.0         REP                OPEN
...           ...         ...                 ...
1784          1.0         REP                OPEN
1785          1.0         REP                OPEN
1786         46.0         DEM                OPEN
1787          0.0         IND                OPEN
1788          0.0         IND                OPEN
1789          0.0         NNE                OPEN
1790          0.0         REP                OPEN
1791          0.0           W                OPEN
1792          0.0         NNE                OPEN
1793         11.0         GRE                OPEN
1794          1.0         REP                OPEN
1795          0.0         DEM                OPEN
1796          0.0         IND                OPEN
1797          0.0         REP                OPEN
1798          0.0         REP                OPEN
1799          0.0         REP                OPEN
1800          1.0         REP                OPEN
1801          0.0         IND                OPEN
1802          0.0         UNK                OPEN
1803          0.0         NNE                OPEN
1804          0.0         REP                OPEN
1805          0.0         REP                OPEN
1806          0.0         OTH                OPEN
1807          0.0         IND                OPEN
1808          0.0         DEM                OPEN
1809          0.0         IND                OPEN
1810          0.0         REP                OPEN
1811          0.0         REP                OPEN
1812          NaN         DEM                 NaN
1813          NaN         DEM                 NaN

                               can_str1 can_str2            can_cit    ...     \
0                       2237 PICKENS RD      NaN            AUGUSTA    ...
1                           PO BOX 6578      NaN       PHILADELPHIA    ...
2               3817 VICKERS LAKE DRIVE      NaN       JACKSONVILLE    ...
3                          409 2ND ST W      NaN          WHITEFISH    ...
4                  409 13TH ST, 17TH FL      NaN            OAKLAND    ...
5                        P. O. BOX 1986      NaN            RALEIGH    ...
6                            PO BOX 327      NaN            MADISON    ...
7                       105 FARRAGUT RD      NaN       SOUTH BOSTON    ...
8                   1504 SHERMAN AVENUE      NaN         HOOD RIVER    ...
9                         PO BOX 590464      NaN             NEWTON    ...
10           N76 W14726 NORTH POINT DR.      NaN    MENOMONEE FALLS    ...
11                       P. O. BOX 1007      NaN            WEBSTER    ...
12                   138 TURNER FARM RD      NaN        NORTH HAVEN    ...
13                301 BROOKS STREET, SE      NaN  FORT WALTON BEACH    ...
14                           PO BOX 606      NaN     TARPON SPRINGS    ...
15                     205 HAWTHORNE CT      NaN         PITTSBURGH    ...
16                        P.O. BOX 4572      NaN            BOULDER    ...
17                          PO BOX 6072      NaN        MINNEAPOLIS    ...
18                      215 MAIN STREET      NaN       ST ELIZABETH    ...
19                 11607 N GLENSHIRE DR      NaN             DUNLAP    ...
20                     P. O. BOX 411486      NaN          MELBOURNE    ...
21            1751 POTOMAC GREENS DRIVE      NaN         ALEXANDRIA    ...
22                     20580 WAYLAND ST      NaN         SOUTHFIELD    ...
23                  6830 MAHOGANY DRIVE      NaN             GALENA    ...
24            234 JEFFERSON HEIGHTS AVE      NaN          JEFFERSON    ...
25                     2015 WALLACE RD.      NaN            ATLANTA    ...
26                        PO BOX 338018      NaN            GREELEY    ...
27                  1919 OXMOOR RD #235      NaN         BIRMINGHAM    ...
28                 1528 MUIRFIELD DRIVE      NaN      BOWLING GREEN    ...
29                     610 S. BOULEVARD      NaN              TAMPA    ...
...                                 ...      ...                ...    ...
1784             100 A WEST MAIN STREET      NaN             FULTON    ...
1785                      P.O. BOX 7154      NaN             TUPELO    ...
1786                   81 RAINBOW RIDGE      NaN             POMONA    ...
1787                  1119 WHITE STREET      NaN           KEY WEST    ...
1788                 7300 SEA GRAPE AVE      NaN        PORT RICHEY    ...
1789                 316 N AVENUE A #82      NaN        CASA GRANDE    ...
1790                   325 S BLUE HERON      NaN              NAMPA    ...
1791                      18116 9TH ST.      NaN        BLOOMINGTON    ...
1792                    6086 HAPPY LANE      NaN              NAMPA    ...
1793                    269 12TH STREET      NaN           BROOKLYN    ...
1794                1604 BRIAR RIDGE RD      NaN             TUPELO    ...
1795   555 TWIN DOLPHIN DRIVE SUITE 130      NaN       REDWOOD CITY    ...
1796                   1502 15TH AVE SW      NaN            OLYMPIA    ...
1797                     235 W CHESTNUT      NaN              OLNEY    ...
1798  9900 CORPORATE CAMPUS DR STE 3000      NaN         LOUISVILLE    ...
1799         163-49 130TH AVENUE APT GA      NaN            JAMAICA    ...
1800            136 NORTH BROOKS STREET      NaN           PONTOTOC    ...
1801                         PO BOX 497      NaN         KENSINGTON    ...
1802                       PO BOX 38272      NaN            HOUSTON    ...
1803                         PO BOX 842      NaN         CHARLESTON    ...
1804                                NaN      NaN           AVENTURA    ...
1805                         PO BOX 704      NaN         AMAGANSETT    ...
1806                           PMB 1704      NaN               AZLE    ...
1807                     228 HICKS LANE      NaN        VIOLET HILL    ...
1808               4529 TOWNWALL STREET      NaN          LAS VEGAS    ...
1809                143 HIGHLAND AVENUE      NaN            BUFFALO    ...
1810                      PO BOX 321231      NaN          LOS GATOS    ...
1811                 13601 MACDERNUT CT      NaN     UPPER MARLBORO    ...
1812               PO BOX 252 VAILOAUTA      NaN          PAGO PAGO    ...
1813                       PO BOX 90025      NaN          ANCHORAGE    ...

     cas_on_han_beg_of_per  cas_on_han_clo_of_per         net_con  \
0              $60,109.57            $175,613.35   $1,074,949.50
1                      NaN           $105,687.23   $1,406,719.06
2                      NaN            $35,645.09     $650,855.38
3              $83,815.78            $399,122.61   $4,938,943.74
4              $83,690.60            $181,338.23   $1,197,676.61
5             $216,409.21            $274,287.84     $725,854.52
6             $187,549.87            $412,220.80     $970,385.04
7             $406,586.74          $1,010,654.62   $1,092,218.56
8             $997,259.73          $1,264,468.82   $3,004,650.64
9           $1,400,008.58          $2,858,165.71   $2,784,362.26
10            $393,925.71            $489,657.75     $365,203.15
11            $162,472.14             $76,985.57     $830,657.86
12            $215,458.53            $546,889.99     $571,307.98
13                     NaN            $45,404.66     $951,163.89
14            $429,105.83            $306,900.57   $1,306,012.36
15            $210,531.58            $291,751.36     $777,713.70
16             $10,603.18             $91,824.88   $1,281,823.94
17            $162,747.78            $365,620.60   $2,294,848.39
18            $965,976.43          $1,941,810.36   $1,795,890.99
19                     NaN           $460,882.83   $2,424,378.83
20            $342,230.68            $588,576.15     $837,793.04
21             $86,253.61            $814,750.02   $1,982,462.14
22             $89,131.21            $228,308.15     $766,433.08
23          $2,501,982.76          $5,201,935.66   $4,258,847.29
24            $482,793.91            $455,004.90     $863,953.07
25            $184,419.65            $236,216.43     $980,363.33
26            $140,466.09            $401,585.47     $808,161.67
27            $189,712.50            $781,799.96   $1,175,074.52
28            $492,878.98            $879,548.37     $998,358.48
29                     NaN           $281,520.97   $4,550,062.50
...                    ...                    ...             ...
1784                   NaN                    NaN    $101,100.00
1785                   NaN                    NaN    $212,756.00
1786                   NaN                    NaN      $3,111.94
1787                   NaN                    NaN             NaN
1788                   NaN               $950.00       $4,000.00
1789               $11.00                  $1.00              NaN
1790                   NaN                    NaN             NaN
1791                   NaN                    NaN             NaN
1792              $754.92              $1,918.42      $10,487.10
1793                   NaN               $257.89      $14,241.00
1794                   NaN                    NaN    $102,538.35
1795                   NaN                    NaN     $15,250.00
1796               $50.00                 $50.00              NaN
1797                   NaN                    NaN             NaN
1798              $705.00                     NaN             NaN
1799                   NaN                    NaN             NaN
1800                   NaN                    NaN    $140,858.00
1801                   NaN               $619.00              NaN
1802                   NaN                    NaN             NaN
1803            $4,413.35              $2,977.33      $25,025.00
1804                   NaN                    NaN             NaN
1805                   NaN                    NaN             NaN
1806                   NaN                    NaN             NaN
1807            $1,000.00                $125.00              NaN
1808                   NaN                    NaN             NaN
1809            $5,000.00              $5,000.00              NaN
1810            $1,000.00                     NaN      $1,000.00
1811                   NaN                    NaN             NaN
1812            $1,058.44              $4,561.00      $41,670.00
1813                   NaN            $64,115.92     $876,316.81

         net_ope_exp  deb_owe_by_com deb_owe_to_com cov_sta_dat cov_end_dat  \
0       $907,156.21   $1,125,000.00             NaN    1/1/2015  10/19/2016
1     $1,298,831.83              NaN            NaN   11/2/2015  10/19/2016
2       $656,210.29      $60,000.00             NaN    4/1/2016  10/19/2016
3     $5,055,942.15              NaN            NaN    1/1/2015  10/19/2016
4       $949,488.98       $4,401.75             NaN    1/1/2015  10/19/2016
5       $430,826.04              NaN            NaN    1/1/2015  10/19/2016
6       $445,438.15              NaN            NaN    1/1/2015  10/19/2016
7       $459,790.68              NaN     $1,750.00     1/1/2015  10/19/2016
8     $1,911,215.54              NaN            NaN    1/1/2015  10/19/2016
9     $1,537,844.39              NaN            NaN    1/1/2015  10/19/2016
10      $265,824.16              NaN            NaN    1/1/2015  10/19/2016
11      $785,298.58              NaN            NaN    1/1/2015  10/19/2016
12      $238,294.57      $20,000.00             NaN    1/1/2015  10/19/2016
13      $993,759.23     $120,000.00             NaN    1/1/2016  10/19/2016
14    $1,260,554.41              NaN            NaN    1/1/2015  10/19/2016
15      $454,476.55              NaN            NaN    1/1/2015  10/19/2016
16    $1,102,838.77              NaN            NaN    1/1/2015  10/19/2016
17    $1,622,329.10              NaN            NaN    1/1/2015  10/19/2016
18      $550,469.87   $1,050,000.00             NaN    1/1/2015  10/19/2016
19    $1,941,921.99              NaN            NaN    1/1/2015  10/19/2016
20      $516,550.17              NaN            NaN    1/1/2015  10/19/2016
21      $742,454.92              NaN            NaN    1/1/2015  10/19/2016
22      $498,853.15              NaN            NaN    1/1/2015  10/19/2016
23    $1,318,584.81              NaN            NaN    1/1/2015  10/19/2016
24    $2,449,513.59              NaN            NaN    1/1/2015  10/19/2016
25      $655,566.55              NaN            NaN    1/1/2015  10/19/2016
26      $550,056.91              NaN            NaN    1/1/2015  10/19/2016
27      $451,946.24              NaN            NaN    1/1/2015  10/19/2016
28      $384,494.66              NaN            NaN    1/1/2015  10/19/2016
29    $4,718,541.53     $450,000.00             NaN    4/1/2016  10/19/2016
...              ...             ...            ...         ...         ...
1784    $178,100.00              NaN            NaN    1/1/2015   9/30/2015
1785    $459,834.76              NaN            NaN    1/1/2015   9/30/2015
1786      $3,111.94              NaN            NaN   6/10/2015   9/30/2015
1787             NaN             NaN            NaN    7/1/2015   9/30/2015
1788      $2,200.00              NaN            NaN   4/28/2015   9/30/2015
1789             NaN      $4,325.00             NaN    1/1/2015   8/30/2015
1790             NaN             NaN            NaN    4/8/2015   7/15/2015
1791             NaN             NaN            NaN   6/25/2015   7/15/2015
1792      $9,655.02              NaN            NaN    1/1/2015    7/8/2015
1793     $13,356.89              NaN            NaN    1/1/2015    7/7/2015
1794    $247,121.35              NaN            NaN    1/1/2015    7/1/2015
1795     $15,221.00       $1,098.00             NaN    1/1/2015   6/30/2015
1796             NaN             NaN            NaN    4/1/2015   6/30/2015
1797             NaN             NaN            NaN    6/9/2015   6/30/2015
1798             NaN             NaN            NaN    1/1/2015   6/30/2015
1799             NaN             NaN            NaN    1/1/2015   6/30/2015
1800    $528,638.39              NaN            NaN    1/1/2015   6/30/2015
1801             NaN             NaN            NaN    4/1/2015   6/30/2015
1802             NaN          $1.00             NaN    1/1/2015   6/30/2015
1803     $22,065.98              NaN            NaN    1/1/2015   6/30/2015
1804             NaN             NaN            NaN    5/1/2015   6/15/2015

In [ ]:
In the first figure I am trying to see if there is a substantive difference in net contributions between winning 
and loosing candidates. I have plotted two lines, one for net contributions of winning candidates and one for 
net contributions of loosing candidates.

In [14]:
plt.plot(lambda Candidate_Data: Candidate_Data['net_con'] if Candidate_Data['winner'] == 'Y', color = 'purple')
plt.plot(Candidate_Data.ix[lambda: Candidate_Data['net_con'] if Candidate_Data['winner'] == 'N'], color = 'orange')
plt.ylabel('Net Contributions')
plt.title('Net Contribution for Winning Candidates')

plt.show()

SyntaxError: invalid syntax (<ipython-input-14-0ac0a48262a9>, line 1)

In [13]:
Next, I wanted to explore other possible dividing lines in this data. So I decideed to plot net contributions for winning 
encumbents versus winning challengers.

SyntaxError: invalid syntax (<ipython-input-13-294b79f99184>, line 1)

In [15]:
plt.plot(lambda Candidate_Data: Candidate_Data['net_con'] if Candidate_Data['winner'] == 'Y' 
         and Candidate_Data['can_inc_cha_ope_sea'] == 'INCUMBENT', color = 'purple')
plt.plot(lambda Candidate_Data: Candidate_Data['net_con'] if Candidate_Data['winner'] == 'Y' 
        and Candidate_Data['can_inc_cha_ope_sea'] == 'CHALLENGER', color = 'orange')
plt.ylabel('Net Contributions')
plt.title('Contribution Difference for Challenger vs Incumbent')
plt.show()

SyntaxError: invalid syntax (<ipython-input-15-bc72eca00754>, line 2)

In [16]:
Finally, to compare the effect on Republicans versus Democrats, I plotted net contribution for winning candidates
as two separate lines for Democrats and Republicans.

SyntaxError: invalid syntax (<ipython-input-16-6b9bd3fe8b59>, line 1)

In [17]:
plt.plot(lambda Candidate_Data: Candidate_Data['net_con'] if Candidate_Data['winner'] == 'Y' 
         and Candidate_Data['can_par_aff'] == 'REP', color = 'purple')
plt.plot(lambda Candidate_Data: Candidate_Data['net_con'] if Candidate_Data['winner'] == 'Y' 
         and Candidate_Data['can_par_aff'] == 'DEM', color = 'orange')
plt.ylabel('Net Contributions')
plt.title('Net Contribution for Winning Candidates by Party')
plt.show()

SyntaxError: invalid syntax (<ipython-input-17-10ce36f265d1>, line 2)